.mainProfile {
    width: 220px;
    display: inline-block;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 5px;
}
p.infobox {
   height: 5.5em;  /* é«˜ã•ã‚’åˆ¶é™(â€») */
   overflow: scroll; /* ã‚¹ã‚¯ãƒ­ãƒ¼ãƒ«ãƒãƒ¼ã‚’è¡¨ç¤º(â€») */
   border: red 1px dashed;  /* æž ç·šã‚’è¿½åŠ  */
   background-color: #000; /* èƒŒæ™¯è‰²ã‚’è¿½åŠ  */
}
.mainParty {
    width: 220px;
    display: inline-block;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 10px;
}
.facebook_profile {
    height: 141px;
}
.fb_img {
    width: 64px;
    float: left;
    height: 64px;
    border-radius: 5px;
    border: 2px solid #CCC;
}
.fb_login {
    float: left;
    width: 100%;
    margin-top: 17px;
}
.btn-login, .btn-login:hover, .btn-login:focus {
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.btn-logout, .btn-logout:hover, .btn-logout:focus {
    width: 100%;
    color: #fff;
    font-size: 12px;
}
.social-box {
    position: absolute;
    bottom: 50px;
    right: 7px;
}
.socialitemlink {
    margin: 2px;
    color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
}
.socialitem {
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.profile-name-container {
    float: right;
    display: table;
    width: 120px;
    height: 64px;
    position: relative;
}
.SRZ-wallet-container {
    width: 100%;
    border: 1px solid #4db800;
    height: 32px;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
}
.SRZ-wallet-container .SRZ-wallet-label {
    position: absolute;
    text-align: right;
    font-weight: 700;
    line-height: 30px;
    width: 60px;
    height: 30px;
    font-size: 13px;
    color: #fff;
}
.SRZ-wallet-currency {
    position: absolute;
    right: 35px;
    top: 6px;
}
.SRZ-wallet-plus {
    width: 30px;
    right: 0;
    background: #60e200;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.SRZ-wallet-container .SRZ-wallet-plus span {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    display: block;
    line-height: 28px;
}
.profile-name-container .SRZ-profile-name {
    vertical-align: middle;
    margin-top: 10px;
    text-align: center;
    font-weight: 700;
    position: absolute;
    width: inherit;
    overflow: hidden;
    color: #fff;
}
.SRZ-progress-bar {
    transition: all .5s ease;
    position: relative;
   /* margin-top: 80px;*/

}
.SRZ-exp-bar {
    height: 30px;
    position: relative;
   /* border: 2px solid #01612B;*/
/*  border: 2px solid #c000ff; */
}
.progress {
  /*  margin-top: 80px;*/
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 95%;
    text-indent: 10px;
}
.SRZ-exp-bar .progress-bar-text {
    font-size: 12pt;
    cursor: default;
    opacity: .75;
    color: #FFF;
    text-align: center;
    line-height: 26px;
    text-shadow: 0 0 3px #000, -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: ubuntu,sans-serif;
}
.SRZ-exp-bar .progress-bar {

   /* background-color: #383;*/
   background-color: #c000ff;
   /* border-radius: 0 4px 4px 0;*/
    transition: none;
}
.progress-bar-striped, .progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}
.progress-bar-star {
    /*margin-top: 80px;*/
    position: absolute;
    top: -13px;
    right: -7px;
    width: 50px;
    height: 50px;
    background-image: url(https://i.imgur.com/KNdjx5F.png);
    background-size: cover;
  /*  -webkit-transform: rotate3d(0,0,1,10deg);
    transform: rotate3d(0,0,1,10deg);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;*/
    cursor: default;
    color: #FFF;
    text-align: center;
    line-height: 55px;
    font-size: 12pt;
    text-shadow: 0 0 3px #000, -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, -1px -1px 0 #000, 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
    font-family: ubuntu,sans-serif;
}
.AddXP{
   font-size: 20px;
    text-align: right;
}
.Rankd {
        font-size: 20px;
    text-align: center;
}
.CellsEaten {
        font-size: 15px;
    text-align: center;
}


#Main {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: #004eff;
    font-family: Economica;
}
#Main > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#Sub {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(255, 0, 0, 1);
    font-family: Economica;
}
#Sub > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#MegaSplit {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(238, 0, 255, 1);
    font-family: Economica;
}
#MegaSplit > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#Gunsplit {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(166, 0, 255, 1);
    font-family: Economica;
}
#Gunsplit > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#VirusAttack {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(0, 81, 255, 1);
    font-family: Economica;
}
#VirusAttack > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#Instant {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(0, 234, 255, 1);
    font-family: Economica;
}
#Instant > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#Crazy {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(0, 255, 153, 1);
    font-family: Economica;
}
#Crazy > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#Bot {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(0, 255, 21, 1);
    font-family: Economica;
}
#Bot > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#SelfFeed {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(221, 255, 0, 1);
    font-family: Economica;
}
#SelfFeed > #arrow {
    margin-top: 2px;
    margin-left: 1.6px;
}
#PrivateServer {
    width: 25px;
    height: 25px;
    float: right;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -2px;
    background-color: rgba(0, 46, 199, 1);
    font-family: Economica;
}
#PrivateServer > #arrow {
    margin-top: 2px;
    margin-left: 1.2px;
}

.atai{
    font-size: 25px;
}

.nav {
    opacity: 1 !important;
    margin-bottom: 5px !important;
}
.navigation {
    background: #212121;
    border-radius: 2px;
    text-align: center;
    cursor: default;
    height: 65px;
    width: 100%;
    margin-bottom: 10px;
}
#hotkeys {
    margin: -20px -20px -20px -20px;
}
.nav-tabs {
    border-color: #212121;
    background-color: #212121;
    border-radius: 2px;
    user-select: none;
    margin-bottom: 0!important;
}
.not-allowed {
    pointer-events: none;
    cursor: not-allowed!important;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 142.9px;
    border-bottom: 5px solid #333;
}
.nav-tabs>li:nth-child(7) {
    border-bottom-right-radius: 2px;
}
.nav-tabs>li>a {
    border: none!important;
    border-radius: 0px!important;
    width: 100%;
    height: 60px;
    cursor: pointer!important;
    line-height: 45.6px;
    transition: all 0.2s;
}
.nav > li > a {
    padding: 8px 10px;
    color: #999!important;
    text-transform: uppercase;
    text-align: center;
}
.nav-tabs > li > a > i {
    margin-top: 4px;
}
.nav-tabs > li:nth-child(1) {
    border-bottom-left-radius: 2px;
}
.nav-tabs > li.active {
    border-color: #1660A0;
}
.nav-tabs > li.active > a {
    background: transparent;
    color: #1660A0!important;
    text-align: center;
}
.nav-tabs > li.active > a:active,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: transparent;
    color: #1660A0!important;
    border: none;
}
.nav-tabs > li > a:hover {
    color: #fff!important;
    transition: all 0.2s;
}
.nav-tabs > li > a:active,
.nav-tabs > li > a:hover {
    background-color: transparent;
    border: none;
}
.nav-tabs > li > a:focus {
    background-color: transparent;
    border: none;
}
